services:
  app:
    image: ghcr.io/zakiachsan/kilasindonesia:latest
    container_name: kilasindonesia-app
    restart: unless-stopped
    ports:
      - "3001:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    volumes:
      - uploads_data:/app/public/uploads

volumes:
  uploads_data:
